@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: lightskyblue">
    <h1>Universidad Provincial de Cordoba</h1>
    <p class="lead">Acompañando a nuestros alumnos en todo el año</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cargue los examenes</h2>
        <p>
            En esta pagina web el docente podra cargar las notas de todas las materias que se dictan en la carrera
        </p>
        <p><a class="btn btn-default" href="https://localhost:44325/Examen/AltaExamen">Aqui &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vea todas sus notas cargadas</h2>
        <p>Accede al listado de notas de cada una de las materias en el siguiente enlace  </p>
        <p><a class="btn btn-default" href="https://localhost:44325/Examen/Listado">Aqui &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Promedios...</h2>
        <p>Descubri el promedio de las notas aprobadas hasta el momento por nivel</p>
        <p><a class="btn btn-default" href="https://localhost:44325/Examen/Reporte">Learn more &raquo;</a></p>
    </div>
</div>